@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;600;700;900&display=swap');

/*----Header----*/

div h1,
h2 {
  text-align: center;
  font-weight: bold;
}

.bg-color-head {
  background-color: black
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: ;
}

.logo-dimensions {
  width: 300px;
  height: 184px;


#relative {
 padding: 10px;
 position: relative;
 background-color: #fff;
 margin: 10px;

} 

<style>
        .relative {
            padding: 10px;
            position: relative;
            background-color: #fff;
            margin: 10px;
        }
        
        .navitem {
            display: inline-block;
            width: 70px;
            height: 30px;
            text-align: center;
            border: gray;
            background-color: #E8562A;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
        }
    </style>