@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;600;700;900&display=swap');

div h1,
h2 {
  text-align: center;
  font-weight: bold;
}

.bg-color-head {
  background-color: rebeccapurple;
}

.logo {

    background-color:rebeccapurple;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-dimensions {
  width: auto;
  height:auto;
}

body, html {
  height: 100%;
}

  .main {
    width: 100%;
    height:auto;
  }

  .row {
   text-align: center;
   position: relative;
   color: white;
  }


#parent {
    position: relative;
    min-height: 70vh;
    margin-bottom: 0;
    padding: 30px 5px 30px 5px;
    background: url(/assets/images/main.png) no-repeat center;
    background-size: cover;
}

#child-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  color: white;
}

  .navitem {
  display: inline-block;
  width: 70px; 
  height: 30px; 
  text-align: center;
  border: gray;
  background-color: rebeccapurple;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.main {
  width: 100%;
  height: auto;
  position: relative;
}

/*--------------------------------------------------menu*/
 .bg-dark {
  background-color: #202020 !important;
  border-bottom: 2px #ffbe5b solid;
}




