@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;600;700;900&display=swap');

div h1,
h2 {
  text-align: center;
  font-weight: bold;
}

.bg-color-head {
  background-color: rebeccapurple;
}

.logo {

    background-color:rebeccapurple;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-dimensions {
  width: auto;
  height:auto;
}

body, html {
  height: 100%;
}

.main-background {
 background:url('../images/main.png');
 background-repeat: no-repeat;
 background-size: cover;
}

.relative {
  padding: 10px;
  background-color:rebeccapurple;
  margin: 10px;
  display;
  top: 1000px;
  left: 0px;
  position: sticky;
} 

.navitem {
  display: inline-block;
  width: 70px; 
  height: 30px; 
  text-align: center;
  border: gray;
  background-color: rebeccapurple;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}


/*--------------------------------------------------menu*/
 .bg-dark {
  background-color: #202020 !important;
  border-bottom: 2px #ffbe5b solid;
}




